<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>E-commerce Camisetas</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <nav class="nav-principal">
    <a href="/">Inicio</a>
    <a href="/products">Productos</a>
    <a href="/realtimeproducts">Tiempo real</a>
    <a href="/carts/{{cartId}}">Mi carrito</a>
  </nav>

  {{{body}}}
</body>
</html>